body {
  background: #000000;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #ffffff;
  text-align: center;
}

.container {
  width: 80%;
  height: 95vh;
  margin: 0 auto;
}

.container.footer {
  width: 100%;
  height: 30px;
  bottom: 0;
}

i {
  color: #c0392b;
}

a, a:hover {
  color: #ffffff;
  text-decoration: none;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
  }
}
