body {
  background: #000000;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  color: #d4d0d0;
  text-align: center;
}

.container {
  width: 80%;
  min-height: 95vh;
  margin: 0 auto;
}

.footer {
  margin-top: 20px;
  width: 100%;
  height: 30px;
  bottom: 0;
}

i {
  color: #c0392b;
}

a, a:hover, a:active, a:focus {
  color: #d4d0d0;
  text-decoration: none;
}

@media (max-width: 991px) {
  .container {
    width: 100%;
  }
}

.navbar, .navbar-header {
  background: none;
  border: none;
}

.navbar li {
  margin-right: 10px;
  padding: 2px 5px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 22px;
  border: 2px solid #d4d0d0;
  border-radius: 15px;
  -webkit-transition: background 0.3s, border 0.3s;
  -moz-transition: background 0.3s, border 0.3s;
  -ms-transition: background 0.3s, border 0.3s;
  -o-transition: background 0.3s, border 0.3s;
  transition: background 0.3s, border 0.3s;
}

.navbar li:hover {
  background: #bdc3c7;
}

.navbar .red:hover {
  background: #c0392b;
  border-color: #c0392b;
}

.nav.navbar-nav li a {
  color: #d4d0d0;
}

.navbar .img img {
  margin-top: -10px;
  margin-right: -15px;
  height: 50px;
}

.navbar .img, .navbar .img:hover {
  background: none;
  border: none;
}

.front {
  z-index: 999;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: none;
  top: 0;
  position: absolute;
}

#popup {
  background: url("../img/background.png");
  z-index: 1000;
  width: 600px;
  height: 375px;
  margin: 0 auto;
  margin-top: 10%;
  color: #000000;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
}

#popup i {
  float: right;
  font-size: 30px;
}

#popup div {
  margin: 25px 10px;
  font-size: 22px;
  text-align: justify;
}

@media (max-width: 768px) {
  .navbar, .navbar-header {
    background: #000000;
    border: none;
  }
  .navbar li {
    border: none;
    text-align: left;
  }
  .navbar .img img {
    height: 40px;
  }
  .navbar-nav.navbar-left {
    margin-bottom: -5px;
  }
  #popup {
    width: 100%;
    height: auto;
    border-radius: 0;
    margin-top: 0;
    top: 0;
  }
}

@media (min-width: 768px) {
  .nav.navbar-nav li {
    margin-top: 6vw;
  }
}
