* {
  text-align: left;
}

.footer p {
  text-align: center;
}

h1 {
  margin-top: 35vh;
  font-weight: bold;
  font-family: Helvetica, Arial;
  font-size: 50px;
}

h2 {
  font-size: 37px;
}

h4 {
  line-height: 1.5;
  font-size: 19px;
}

a {
  border-bottom: 1px solid #d0d4d4;
}
