.leaderboard {
  width: 100%;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
  text-align: center;
}

h1 {
  font-size: 44px;
}

table {
  margin: 0 auto;
  margin-top: 40px;
  font-size: 19px;
}

th {
  padding: 20px;
}

table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}

.crown {
  width: 20px;
  margin-top: -3px;
}

td:last-child {
  text-align: right;
  padding-right: 5px;
}

@media (max-width: 767px) {
  table {
    font-size: 15px;
  }
}
