.levels {
  margin: 0 auto;
  display: block;
}

.row {
  margin: 0 auto;
}

.col-md-2 {
  margin-top: 20px;
}

.level {
  padding: 30px;
  border: 3px solid #d4d0d0;
  border-radius: 15px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 40px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.level:hover .hover {
  border-radius: 15px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.hover {
  top: 103%;
  left: 0;
  height: 123px;
  width: 100%;
  position: absolute;
  opacity: 0.7;
  background: #616161;
  border-top: 3px solid #d4d4d4;
  border-bottom: 3px solid #d4d4d4;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

@media (max-width: 768px) {
  .navbar, .navbar-header {
    background: #000000;
    border: none;
  }
}

@media (min-width: 768px) {
  .nav.navbar-nav li {
    margin-top: 6vw;
  }
}
