.levels {
  margin: 0 auto;
  display: block;
}

.row {
  margin: 0 auto;
}

.col-md-2 {
  margin-top: 20px;
}

.level {
  padding: 30px 0;
  height: 123px;
  border: 3px solid #d4d0d0;
  border-radius: 15px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 40px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.level:hover .hover {
  z-index: 2;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}

.hover, .locked {
  z-index: -1;
  top: 103%;
  left: 0;
  height: 123px;
  width: 100%;
  position: absolute;
  opacity: 0.9;
  font-size: 15px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  border-top: 3px solid #d4d4d4;
  border-bottom: 3px solid #d4d4d4;
  border-radius: 15px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.hover p {
  color: white;
  margin-top: -110px;
  line-height: 24px;
}

.locked {
  height: 100%;
  top: 0;
  border: none;
  cursor: default;
}

.hover img, .locked img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

.lock {
  height: 100%;
  z-index: 2;
}

.stages {
  border-bottom: 1px solid white;
  width: 97%;
  height: 75px;
  margin: 0 auto;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .stages h1 {
    font-size: 25px;
  }
}

.one, .two, .multip {
  display: inline;
  width: 33%;
  height: 100%;
  /*border-bottom: 1px solid #d4d0d0;*/
  cursor: pointer;
  -webkit-transition: background-color 0.4s;
  -moz-transition: background-color 0.4s;
  -ms-transition: background-color 0.4s;
  -o-transition: background-color 0.4s;
  transition: background-color 0.4s;
}

.one:hover, .two:hover, .multip:hover {
  background-color: #252525;
}

.one, .two {
  float: left;
}

.multip {
  float: right;
}

.stage-active {
  border-bottom: 4px solid #d4d4d4;
}

h2 {
  margin: 30px;
}

.round {
  margin: 0 auto;
  margin-top: 20px;
  padding: 0 10px;
  width: 300px;
  border: 2px solid #d0d4d4;
  text-align: left;
}

.round h4 {
  font-weight: bold;
  display: inline;
  margin-top: -20px;
  margin-bottom: 30px;
}

.round i {
  content: url("../img/favicon.png");
  width: 17px;
  margin-top: 12px;
  margin-bottom: -1px;
  margin-right: 5px;
}

#time {
  float: right;
}

.round a {
  text-decoration: underline;
}

#time a {
  color: #26cd1c;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
