.navbar, .navbar-header {
  background: none;
  border: none;
}

.navbar li {
  margin-right: 10px;
  padding: 2px 5px;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-size: 22px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  -webkit-transition: background 0.3s, border 0.3s;
  -moz-transition: background 0.3s, border 0.3s;
  -ms-transition: background 0.3s, border 0.3s;
  -o-transition: background 0.3s, border 0.3s;
  transition: background 0.3s, border 0.3s;
}

.navbar li:hover {
  background: #bdc3c7;
}

.navbar .red:hover {
  background: #c0392b;
  border-color: #c0392b;
}

.nav.navbar-nav li a {
  color: #ffffff;
}

.navbar .img img {
  margin-top: -10px;
  margin-right: -15px;
  height: 50px;
}

.navbar .img, .navbar .img:hover {
  background: none;
  border: none;
}

.nivel {
  border: 2px solid #ffffff;
  border-radius: 15px;
}

@media (max-width: 768px) {
  .navbar, .navbar-header {
    background: #000000;
    border: none;
  }
}

@media (min-width: 768px) {
  .nav.navbar-nav li {
    margin-top: 6vw;
  }
}
