@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}

.bilute {
  display: table;
  margin: 0 auto;
}

.bilute ul {
  list-style-type: none;
  margin-top: 5px;
  margin-left: -44px;
}

.bilute li {
  display: inline-block;
}

#red0, #blue1, #yellow2, #purple3, #green4, #pink5, #turqoise6, #silver7 {
  cursor: pointer;
  margin: 8px;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  padding: 1px;
}

#undo {
  color: #d4d4d4;
  font-size: 28px;
  margin-top: -32px;
  margin-right: 10px;
  display: table;
}

#red0 {
  background-color: #c0392b;
}
#blue1 {
  background-color: #2980b9;
}
#yellow2 {
  background-color: #f1c40f;
}
#purple3 {
  background-color: #9b59b6;
}
#green4 {
  background-color: #1e824c;
}
#pink5 {
  background-color: #db0a5b;
}
#turqoise6 {
  background-color: #1abc9c;
}
#silver7 {
  background-color: #bdc3c7;
}

.mare {
  margin: 0 auto;
  border: 1px solid white;
  border-collapse: collapse;
  table-layout: fixed;
}

.mare td {
  border: 1px solid white;
  width: 42px;
  height: 20px;
}

.mare td:last-child {
  border: none;
  width: auto;
}

.mare .mic td {
  border: none;
  border-right: 1px solid white;
  width: 16px;
}

.mare .mic {
  border: none;
}

.mic tr {
  border-bottom: 1px solid white;
}

.mic td:last-child {
  border: none;
}

.mare tr:last-child .mic tr:last-child {
  border-bottom: none;
}


#bilute, #incercari, #locuri {
  display: none;
}
