.profile {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
}

/* left half */

.pic {
  width: 295px;
  height: 295px;
  margin: 0 auto;
  overflow: hidden;
}

.remove {
  z-index: 1;
  width: 100%;
  height: 40px;
  margin-top: -40px;
  padding: 10px;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.remove i {
  font-size: 30px;
  float: right;
  cursor: pointer;
}

.change {
  height: 34px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: pointer;
  background: rgba(42, 42, 42, 0.7);
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.change h4 {
  line-height: 34px;
}

.pic:hover .remove {
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
}

.pic:hover .change {
  -webkit-transform: translateY(-44px);
  -moz-transform: translateY(44px);
  -ms-transform: translateY(44px);
  -o-transform: translateY(44px);
  transform: translateY(-44px);
}

.pic img {
  z-index: -1;
  width: 100%;
  height: 300px;
  border-radius: 10px;
}

/* right half */

.info {
  text-align: left;
  margin-top: -10px;
}

.info h1, .info h2 {
  margin-right: 15px;
  display: inline;
}

.fa-plus {
  color: #1e824c;
}

.fa-plus, .fa-minus {
  cursor: pointer;
}

#userData {
  font-size: 18px;
}

input {
  outline: none;
  border: none;
  background: none;
  margin-top: -1px;
  margin-bottom: -1px;
  width: 100%;
}

.stats {
  margin-top: 20px;
  font-size: 24px;
}

.stats p {
  margin-top: 15px;
}

@media (max-width: 991px) {
  .profile {
    width: 100%;
  }
  .info {
    margin-top: 30px;
    text-align: center;
  }
  .stats {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
