.profile {
  width: 85%;
  margin: 0 auto;
  margin-top: 40px;
}

.pic img {
  width: 295px;
  height: 295px;
  border-radius: 10px;
}

.info {
  text-align: left;
  margin-top: -10px;
}

.info h1, .info h2 {
  margin-right: 15px;
  display: inline;
}

.fa-plus {
  color: #1e824c;
}

.fa-plus, .fa-minus {
  cursor: pointer;
}

.userData {
  font-size: 18px;
}

.stats {
  margin-top: 20px;
  font-size: 24px;
}

.stats p {
  margin-top: 15px;
}

@media (max-width: 768px) {
  .profile {
    width: 100%;
  }
  .info {
    margin-top: 30px;
    text-align: center;
  }
  .stats {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
