h3 {
  margin-top: 10vh;
  font-size: 4.1vw;
  font-family: 'Source Sans Pro', 'Roboto', Helvetica, Arial, sans-serif;
}

h5 {
  font-size: 2.5vw;
  font-family: 'Ubuntu Mono', monospace;
}

form {
  margin: 0 auto;
  margin-top: 50px;
  padding: 30px;
  width: 300px;
  border: 3px solid #d0d4d4;
  border-radius: 15px;
}

input, button {
  font-family: 'Ubuntu Mono', monospace;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

input {
  margin-bottom: 30px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

button {
  background: none;
  border: 2px solid #d0d4d4;
  border-radius: 5px;
  padding: 10px 20px;
}
