body {
  background-color: black;
}

.container {
  width: 40%;
  margin: 0 auto;
  color: white;
}

h1 {
  text-align: center;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 10px;
}

.bContainer {
  float: left;
  /*border: 1px solid white;*/
  height: 62px;
  width: 320px;
}

.new, .undo {
  display: inline;
  /*margin-top: 20px;*/
  margin: 0 auto;
  font-family: 'Roboto', Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 18px;
  border: 2px solid white;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: border 0.4s, background-color 0.4s;
  -moz-transition: border 0.4s, background-color 0.4s;
  -ms-transition: border 0.4s, background-color 0.4s;
  -o-transition: border 0.4s, background-color 0.4s;
  transition: border 0.4s, background-color 0.4s;
}

.new:hover {
  background-color: #bdc3c7;
  border: 2px solid #bdc3c7;
}

.new {
  float: right;
}

.undo {
  float: left;
  -webkit-transition: border 0.4s, background-color 0.4s;
  -moz-transition: border 0.4s, background-color 0.4s;
  -ms-transition: border 0.4s, background-color 0.4s;
  -o-transition: border 0.4s, background-color 0.4s;
  transition: border 0.4s, background-color 0.4s;
}

.undo:hover {
  background-color: #c0392b;
  border: 2px solid #c0392b;
}

.bilute {
  display: table;
  margin: 0 auto;
  margin-top: -10px;
}

.bilute ul {
  list-style-type: none;
  /*margin-top: 20px;*/
  margin-left: -40px;
}

.bilute li {
  display: inline-block;
}

#red0, #blue1, #yellow2, #purple3, #green4, #pink5, #turqoise6, #silver7 {
  cursor: pointer;
  margin: 8px;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  padding: 1px;
}

#red0 {
  background-color: #c0392b;
}
#blue1 {
  background-color: #2980b9;
}
#yellow2 {
  background-color: #f1c40f;
}
#purple3 {
  background-color: #9b59b6;
}
#green4 {
  background-color: #1e824c;
}
#pink5 {
  background-color: #db0a5b;
}
#turqoise6 {
  background-color: #1abc9c;
}
#silver7 {
  background-color: #bdc3c7;
}

.tabele {
  width: 50%;
  margin: 0 auto;
  margin-top: -15px;
}

.mare {
  float: left;
  table-layout: fixed;
}

td, .mare, .mic {
  border: 1px solid white;
  border-collapse: collapse;
}

.mic {
  float: right;
  table-layout: fixed;
}
