body {
  background-color: black;
}

.container {
  width: 80%;
  margin: 0 auto;
  color: white;
}

h1 {
  text-align: center;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 10px;
}

.new {
  margin-top: 20px;
  margin: 0 auto;
  font-family: 'Roboto', Helvetica, sans-serif;
  text-align: center;
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 18px;
  border: 2px solid white;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  cursor: pointer;
  -webkit-transition: border 0.4s, background-color 0.4s;
  -moz-transition: border 0.4s, background-color 0.4s;
  -ms-transition: border 0.4s, background-color 0.4s;
  -o-transition: border 0.4s, background-color 0.4s;
  transition: border 0.4s, background-color 0.4s;
}

.new:hover {
  background-color: #bdc3c7;
  border: 2px solid #bdc3c7;
}

.bilute {
  display: table;
  margin: 0 auto;
  margin-top: -10px;
}

.bilute ul {
  list-style-type: none;
  margin-top: 20px;
  margin-left: -40px;
}

.bilute li {
  cursor: pointer;
  margin: 8px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: inline-block;
  padding: 1px;
}

#red {
  background-color: #c0392b;
}
#blue {
  background-color: #2980b9;
}
#yellow {
  background-color: #f1c40f;
}
#purple {
  background-color: #9b59b6;
}
#green {
  background-color: #27ae60;
}
#pink {
  background-color: #db0a5b;
}
#turqoise {
  background-color: #1abc9c;
}
#silver {
  background-color: #bdc3c7;
}
